{% extends 'base.html' %}

{% block title %} 
Welcome to this word counting website 
{% endblock %}

{% block content %}
<h1>Welocome Sir/Madam</h1><br>
<div class="justify-content-center">
    💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕
    <p>Hi 👨‍💻 tech enthosiast, you're highly welcome to this <br>
    text counting website.<br>
    <hr>
    In this website, you can just input text and automatically<br>
    you will be told how many words the input text contains<br>
    <hr>
    In the other hand, you can also upload a file(text, pdf or MS word file), and you will<br>
    be told how many words are contained within that particular file<br>

    💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕💕</p>

    👣let's walk and try this out:<br>
    <b>🤗<a href='/textinput/'>click here</a> 🤗to start</b>
    <hr> Or rather let's upload a file and try<br>
    <b>🤗<a href='/fileinput/'>click here to upload file</a> 🤗to start</b>
</div>
{% endblock %}